#### Exercise 1: Calculate the multiplication and sum of two numbers

In [13]:
def numbers(number1, number2):
    value = number1 * number2
    if value <= 1000:
        return value
    else:
        return number1 + number2
    


number1 = int(input("Enter the number1: "))
number2 = int(input("Enter the number2: "))
print(f"The result is {numbers(number1,number2)}")

Enter the number1: 10
Enter the number2: 30
The result is 300

#### Exercise 2: Print the sum of the current number and the previous number:

In [22]:
previous = 0
print("Printing current number and previous numebr sum in a range 10")
for i in range(11):
    x= i + previous_num
    print(f"current number{i} previous numebr{previous} sum: {x}")

Printing current number and previous numebr sum in a range 10
current number0 previous numebr0 sum: 0
current number1 previous numebr0 sum: 1
current number2 previous numebr0 sum: 2
current number3 previous numebr0 sum: 3
current number4 previous numebr0 sum: 4
current number5 previous numebr0 sum: 5
current number6 previous numebr0 sum: 6
current number7 previous numebr0 sum: 7
current number8 previous numebr0 sum: 8
current number9 previous numebr0 sum: 9
current number10 previous numebr0 sum: 10

#### Exercise 3: Print characters from a string that are present at an even index number:

In [31]:
value = input("Enter the value to show even: ")
print("original string:", value)
size = len(value)
for i in range(0, size - 1, 2):
    print("index[", i, "]", value[i])

Enter the value to show even: asdfgh
original string: asdfgh
index[ 0 ] a
index[ 2 ] d
index[ 4 ] g

In [33]:
word = input("Enter word: ")
print("Original string: ", word)
x = list(word)
for i in x[0::2]:
    print(i)

Enter word: asdfg
Original string:  asdfg
a
d
g

### Exercise 4: Remove first n characters from a string

In [35]:
def remove(word,n):
    x = word[n:]
    return x
        
print("Remove characters from a word")
word = input("enter the words to remove character: ")
n = int(input("Enter the word number that you want to remove: "))
print(remove(word,n))

Remove characters from a word
enter the words to remove character: ashishkumar
Enter the word number that you want to remove: 3
ishkumar

### Exercise 5: Check if the first and last number of a list is the same

In [38]:
def list_same(number):
    first = number[0]
    last = number[-1]
    if first == last:
        return True
    else:
        return False
    
value  = input("Enter the list of numebrs to check first and last are same or not: ")
number = value.split(" ")

print("the result is : ", list_same(number))

Enter the list of numebrs to check first and last are same or not: 12 11 12 134 44 1232
the result is :  False

#### Exercise 6: Display numbers divisible by 5 from a list

In [49]:
#Display numbers divisible by 5 from a list
def divisible_by_5(numbers):
    for i in numbers:
        if i % 5 == 0:
            return True
        else:
            return False
   
    
    
value = input("enter the list of number seperated by space: ")
numbers = list(map(int,value.split()))

#numbers = [12,131,33,55,43,70,780]
print(divisible_by_5(numbers))

enter the list of number seperated by space: 12 13 14 15 1511 161 117
False

In [56]:
#Display numbers divisible by 5 from a list
def divisible_by_5(numbers):
    print("divisible by 5: ")
    for i in numbers:
        if i % 5 == 0:
            print(i)
        
   
    
    
value = input("enter the list of number seperated by space: ")
number_str = value.split()
numbers = [int(i) for i in number_str]
divisible_by_5(numbers)

enter the list of number seperated by space: 12 13 14 15 16
divisible by 5:
15

#### Exercise 7: Return the count of a given substring from a string.

In [63]:
str_x = "Emma is a good developer. Emma is a writer"
value = str_x.count("Emma")
print(f"Emma appeared {value} times")

Emma appeared 2 times

#### Exercise 8: Print the following pattern

In [74]:
for i in range(1,6):
    for j in range(i):
        print(i, end =" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

#### Exercise 9: Check Palindrome Number

In [82]:
value = input("Enter the number to check the number is palindrom or not: ")
reverse_value = value[::-1]
if value == reverse_value:
    print("The number is a palindrom Number.")
else:
    print("It's not a palindrom number...")

Enter the number to check the number is palindrom or not: raor
It's not a palindrom number...

In [99]:
def palindrome(number):
    while True:
        if number.lower() == "quit":
            print("exiting the program...")
            break
        reverse = number[::-1]
        if reverse == number:
            print("The numebr is a palindrome numebr.")
        else:
            print("The numebr is not a palindrome numebr.")
        number = input("Enter another number or type 'quit' to exit: ")
number = input("Enter the number to check palindrome or not.: ")
palindrome(number)

Enter the number to check palindrome or not.: asa
The numebr is a palindrome numebr.
Enter another number or type 'quit' to exit: quit
exiting the program...

#### Exercise 10: Create a new list from two list using the following condition

In [105]:
def mix_list(list1, list2):
    result_list = []
    for i in list1:
        if i % 2 != 0:
            result_list.append(i)
    for i in list2:
        if i % 2 == 0:
            result_list.append(i)
    return result_list

list1 = [int(x) for x in input("Enter the first list.: ").split()]
list2 = [int(x) for x in input("Enter the last lisat.: ").split()]
print(mix_list(list1,list2))

Enter the first list.: 1 2 3 4 5
Enter the last lisat.: 12 13 14 15
[1, 3, 5, 12, 14]

#### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [106]:
value = 7356
reverse = str(value)[::-1]
for i in reverse:
    print(i, end = " ")

6 5 3 7

In [108]:
value = input("enter the numebr: ")
reverse = value[::-1]
for i in reverse:
    print(i, end = " ")

enter the numebr: asdf
f d s a

#### Exercise 12: Calculate income tax for the given income by adhering to the rules below:

In [110]:
income = 45000
tax = 0
if income <= 10000:
    tax = 0
elif income <= 20000:
    x = income -10000
    tax = x * 10/ 100
else:
    tax = 0
    tax = 10000 *10 /100
    tax += (income-20000)* 20/100
print("Total tax to pay is :", tax)

Total tax to pay is : 6000.0

#### Exercise 13: Print multiplication table from 1 to 10

In [117]:
for i in range(1,11):
    for j in range(1, 11):
        multiply= i * j
        print(multiply, end = " ")
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

#### Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

In [121]:
for i in range(5,0,-1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

#### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [123]:
def power(base, exponent):
    result = base** exponent
    return result
power(base,exponent)

8

In [1]:
def power(base, exp):
    result = base** exp
    return result
base = int(input("Enter the base number: "))
exp = int(input("Enter the exponent number"))
power(base,exp)

Enter the base number: 3
Enter the exponent number4

81