#### Exercise 1: Create a function in Python

In [4]:
def calculation(num1, num2):
    sum = num1 + num2
    return (f"the sum of numbers is: {sum}")
    
value1 = float(input("Enter the first numebr: "))
value2 = float(input("Enter the last number: "))
print( calculation(value1,value2))

Enter the first numebr: 12
Enter the last number: 12
the sum of numbers is: 24.0

In [2]:
def info(name, age, dept):
    print(f"name: {name}, age: {age} , department: {dept}")
    
info("Ashish", 24, "CSE")

name: Ashish, age: 24 , department: CSE

#### exercise 2: Create a function with variable length of arguments

In [9]:
def fun1(*args): #The *args syntax allows to pass any number of positional arguments.
    for i in args:
        print(i)
fun1(10,20,30)
fun1(50,60,70)

10
20
30
50
60
70

In [11]:
def func1(*argu):
    print(type(argu))
    print("Printing output: ")
    for i in argu:
        print(i)

func1(1,"Rabbi Hussain",2,3,4)
func1(20,40,60)

<class 'tuple'>
Printing output:
1
Rabbi Hussain
2
3
4
<class 'tuple'>
Printing output:
20
40
60

#### Exercise 3: Return multiple values from a function

In [13]:
def calculation(a,b):
    addition = a + b
    subtraction = a -b
    return addition, subtraction

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the last number: "))
res = calculation(num1, num2)
print(res)

Enter the first number: 10
Enter the last number: 23
(33.0, -13.0)

In [13]:
def calculation(a,b):
    add = a+b
    sub = a-b
    multi = a*b
    division = a/b
    
    return(f"additon: {add}, subtraction: {sub}, multiplication: {multi}, division: {division}")

inp1 = float(input("Enter the first number: "))
inp2 = float(input("Enter the last number: "))
calculation(inp1,inp2)

Enter the first number: 20
Enter the last number: 10

'additon: 30.0, subtraction: 10.0, multiplication: 200.0, division: 2.0'

In [14]:
def calculation(a, b):
    return a + b, a-b, a*b,a/b

#get result in tuple format
#unpack tuple
add,sub,mul,div = calculation(50,30)
print(add,sub,mul,div)

80 20 1500 1.6666666666666667

#### Exercise 4: Create a function with a default argument

In [14]:
def employ(name, salary = 90000):
    print("Name:", name, "salary:", salary)
    
employ("Ben", 12000)
employ("Rana")

Name: Ben salary: 12000
Name: Rana salary: 90000

In [16]:
def student(name, dept = "CSE"):
    print(f"Name: {name} , Department: {dept} ")

student("Ashish")
student("Rabbi")
student("Tonmoy", "LLB")

Name: Ashish , Department: CSE
Name: Rabbi , Department: CSE
Name: Tonmoy , Department: LLB

#### Exercise 5: Create an inner function to calculate the addition in the following way

In [21]:
def value(a, b):
    
    def addition(a, b):
        return a + b
    
    add = addition(a, b)
    return add + 5
v1= float(input("Enter the first value: "))
v2 = float(input("Enter the last value: "))    
result = value(v1,v2)
print(result)

Enter the first value: 5
Enter the last value: 10
20.0

#### Exercise 6: Create a recursive function

In [56]:
# recursive means using the function into code
# function call itself
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num-1)

number = int(input("Enter the number for factorial: "))
# result = 5*factorial(number)
factorial(number)

for i in range(number+1):
    print(factorial(i),end = " ")

Enter the number for factorial: 5
1 1 2 6 24 120

In [50]:
## another recoursive function
# fibonacci series
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

value_of_n = int(input("Enter the number for fibonacci series: "))
output = fibonacci(value_of_n)
if value_of_n <=0:
    print("Please enter a positive integer: ")
else:
    print("Fibonacci value:")
    for i in range(value_of_n+1):
        print(fibonacci(i),end = " ")

Enter the number for fibonacci series: 8
Fibonacci value:
0 1 1 2 3 5 8 13 21

#### Exercise 7: Assign a different name to function and call it through the new name

In [62]:
def display_student(name,age):
    print(name, age)
        
display_student("Ashish", 24) 
show_student = display_student
show_student("Ashish",25)

Ashish 24
Ashish 25

#### Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [63]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### Exercise 9: Find the largest item from a given list

In [17]:
list1 = input("Enter the list number seperaterd by space: ")
list2 = [int(i) for i in list1.split()]

largest_item = max(list2)
print(f"The Largest number of the list is : {largest_item}")

Enter the list number seperaterd by space: 123 345 765 34 123 345 567
The Largest number of the list is : 765

#

In [19]:
def maxnum(list1):
    list2 = [int(i) for i in list1.split()]
    max_value = max(list2)
    return(f"The largest number of the list is: {max_value}")

input1 = input("Enter the list numbers seperated by space: ")
print(maxnum(input1))

Enter the list numbers seperated by space: 13 24 11 66 33 76 87 12 45 54 67 98 22 98
The largest number of the list is: 98