### Exercise 1: Print First 10 natural numbers using while loop

In [6]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern

In [3]:
for i in range(1,6,1):
    for j in range(1,i+1):
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end = " ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

### Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [38]:
num = int(input("Enter the number: "))
s = 0
for i in range(1,num+1):
    s+= i
print("Sum is:", s)

Enter the number: 10
Sum is: 55

In [39]:
value = int(input("enter the numebr: "))
x = sum(range(1,value +1))
print("The result is: ",x)

enter the numebr: 10
The result is:  55

#### Exercise 4: Write a program to print multiplication table of a given number:

In [2]:
n = 2
for i in range(1,10,1):
    2* i
    value = n* i 
    print(value)

2
4
6
8
10
12
14
16
18

#### Exercise 5: Display numbers from a list using loop:

In [27]:
value = input("Enter the list of number: ")
numbers_str = value.split()
numbers = [int(x) for x in numbers_str]
for num in numbers:
    if num> 500:
        break
    elif num >= 150:
        continue
    elif num % 5 ==0:
        print(num)

Enter the list of number: 12 13 14 25 150 120 150 500 5034 20
25
150
120
150

#### Exercise 6: Count the total number of digits in a number

In [34]:
number = int(input("Enter the number to count the digit: "))
counter = 0
while number != 0:
    number = number// 10
    counter +=1
print("the number digit are: ", counter)

Enter the number: 1234567890
digit are:  10

#### Exercise 7: Print the following pattern:

In [51]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end = " ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [56]:
for i in range(5, 0,-1):
    for j in range(1, i+1):
        print(j, end =" ")
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [58]:
for i in range(0,5):
    for j in range(5-i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [73]:
for i in range(6,1, -1):
    for j in range(1,i):
        print(j, end = " ")
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [4]:
for i in range(6,1, -1):
    for j in range(i, ):
        print(j, end = " ")
    print("")

5
4 5
3 4 5
2 3 4 5

#### Exercise 8: Print list in reverse order using a loop

In [5]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
for i in list1:
    print(i)

50
40
30
20
10

#### Exercise 9: Display numbers from -10 to -1 using for loop

In [35]:
 for i in reversed(range(-1,-11,-1)):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [4]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [7]:
# done printing at the place of 3
for i in range(5):
    
    if i== 2:
        print(i)
        print("done")
        
    else:
        print(i)

0
1
2
done
3
4

In [1]:
#done printing with number 5
for i in range(11):
    if i == 5:
        print(i,"Done")
    else:
        print(i)

0
1
2
3
4
5 Done
6
7
8
9
10

#### Exercise 11: Write a program to display all prime numbers within a range:

In [5]:

for i in range(25,50):
    if i %1== 0 and i % i== 0 and i %2!= 0 and i % 3!= 0:
        print(i)
    else:
        continue

25
29
31
35
37
41
43
47
49

In [2]:
def is_prime(prime):
    if prime % 5 == 0 and prime :
        print(prime,"Is a prime number")
    else:
        print()

SyntaxError: incomplete input (3253286872.py, line 4)

In [6]:

start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [16]:
for num in range(25,51):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

#### Exercise 12: Display Fibonacci series up to 10 terms

In [6]:
num1 = 0
num2 = 1
for i in range(10):
    print(num1, end = " ")
    res = num1+num2
    
    
    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

### Exercise 13: Find the factorial of a given number

In [13]:
#factorial
number = int(input("enter the number to check the factorial:"))
factorial = 1
if number < 0:
    print("Factorial does not exist for negative numbers")
elif number == 0:
    print("The factorial is of 0 is 1")
else:
    for i in range(1, number+1):
        factorial = factorial * i
    print("The factorial of", number, "is", factorial)

enter the number to check the factorial:10
The factorial of 10 is 3628800

In [11]:
#### fibonacci series
value = 0
value1 =1
for i in range(1,10):
    value += i
    print(value)

1
3
6
10
15
21
28
36
45

#### Exercise 14: Reverse a given integer number

In [9]:
#### reverse number
number = int(input("enter the number: "))
reverse_num = 0

while number > 0:
    reminder = number % 10
    reverse_num = (reverse_num * 10) + reminder
    number = number // 10
    print(f"Reverse number: {reverse_num}")

enter the number: 12345
Reverse number: 5
Reverse number: 54
Reverse number: 543
Reverse number: 5432
Reverse number: 54321

In [10]:
number = int(input("Enter the number that you want to reverse:"))
reverse_num = 0
while number > 0:
    reminder = number % 10
    reverse_num = reverse_num * 10 + reminder
    number = number // 10
print(f"Reverse number = {reverse_num}")

Enter the number that you want to reverse:123456789
Reverse number = 987654321

#### Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [47]:
value = str(input("Enter the input seperated by space: "))
list1 = [int(i) for i in value.split(" ")]

for i in list1[1::2]:
    slice1 = i
    print(slice1, end = " " )

Enter the input seperated by space: 1 2 3 4 5 6 7 8 9 10
2 4 6 8 10

#### Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [50]:
value = int(input("Enter the range of number: "))
for i in range(1, value +1):
    result = i**3
    print(f"The cube of {i} is : {result}")

Enter the range of number: 5
The cube of 1 is : 1
The cube of 2 is : 8
The cube of 3 is : 27
The cube of 4 is : 64
The cube of 5 is : 125

#### Exercise 17: Find the sum of the series upto n terms

In [64]:
# Write a program to calculate the sum of series up to n term. 
# For example, if n =5 the series will become 
# 2 + 22 + 222 + 2222 + 22222 = 24690
n = int(input("Ente the range of series: "))
value = int(input("Enter the value which you want to sum: "))
sum1 = 0
for i in range(0, n):
    print(value, end = "+")
    sum1 += value
    value = value * 10 + int(str(value)[0])
    
print(f" sum of series is: {sum1}")

Ente the range of series: 5
Enter the value which you want to sum: 3
3+33+333+3333+33333+ sum of series is: 37035

In [6]:
#### # Write a program to calculate the sum of series up to n term. 
# For example, if n =5 the series will become 
# 2 + 22 + 222 + 2222 + 22222 = 24690
number = int(input("Enter the reange of series: "))
value = int(input("Enter the value which you want to sum: "))
sum = 0
for i in range(0, number):
    print(value, end = "+")
    sum += value
    value = value * 10 + int(str(value)[0])
print(f" sum of series is: {sum}")

Enter the reange of series: 5
Enter the value which you want to sum: 1
1+11+111+1111+11111+ sum of series is: 12345

In [13]:
#### a programm to calculate the sum of series
number = int(input("Enter the range of series"))
value = int(input("Enter the sum number "))
sum_value = 0
for i in range(0,):
    print(value, end = "+")
    sum_value += value 
    value = number * 10 + int(str(value)[0])
print(f"the sum of series value: {sum_value}")

Enter the range of series5
Enter the sum number 1
the sum of series value: 0

#### Exercise 18: Print the following pattern

In [33]:
#pattern
rows = 5
for i in range(0, rows):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

for i in range(rows, 0, -1):
    for j in range(0, rows -i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

*
* *
* * *
* * * *

In [4]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
rows = 5
for i in range(0,rows):
    for j in range(0, i + 1):
        print("*", end = " ")
    print()
for i in range( rows, 0, -1):
    for j in range(0, i-1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i, end = " ")
    print()
# for pattern 1 22 333 4444 55555   
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end = " ")
    print()
#Pattern that start with 5---1    
for i in range(5,0, -1):
    for j in range(5, i-1, -1):
        print(j, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

##### diamond shape printing

In [15]:
for i in range(1, 6):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *